body{
  height: 200px;
  width: 100%;
  margin: 0;
}
.header{
  display: flex;
  background-color: #333;
}
header {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #333;
}
.header a {
  color: white;
  padding: 30px;
  text-decoration: none;
  text-align: center;
}
main {
  flex: 30%;
  padding: 20px;
}
main img {
  width: 100px;
  margin: 10px;
  text-align: center;  
}
